/* style.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
    font-family: "Courier New", monospace;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0px 0px 40px rgba(214, 73, 107, 0.9);
}

button.refresh-button {
    background-color: #ff6ac1; /* Neon Pink */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button.refresh-button:hover {
    background-color: #ff49a9; /* Darker Neon Pink */
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #111; /* Dark Background */
    border: 1px solid #444;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0px 0px 40px rgba(214, 73, 107, 0.9); /* Neon Pink Text Shadow */
}

ul#content-list {
    list-style: none;
    padding: 0;
}

ul#content-list li {
    margin: 10px 0;
    background-color: #222; /* Dark Gray */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#content-list li a {
    text-decoration: none;
    color: #6eff67; /* Light Green */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

ul#content-list li a:hover {
    color: #4bea4a; /* Darker Light Green */
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
