<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists on YouTube Today</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Top Artists on YouTube Today</h1>
        <button class="refresh-button" onclick="refreshPage()">Update</button>

        <!-- flash messages -->
        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
              
    </header>
    
    <main>
        <ul id="content-list">
            {% for arank, aviews, aname, aurl in artists %}
            <li>
                [{{ arank }}] <a href="{{ aurl }}">{{ aname }}</a> : {{ aviews }} views
                <!-- <span>Rank: {{ artist_rank }}</span>
                <span>Value: {{ artist_value }}</span> -->
            </li>
            {% endfor %}
        </ul>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
